# Distribution / packaging
.Python
env/
.env
venv/
*.venv
build/
dist/
*.egg-info/
*.eggs

# PyCharm and intellij
.idea/
*.iml
*.ipr
*.iws
*.xml
*.txt
src/*.csv
src/*.xlsx
*.csv
*.xlsx


# streamlit
src/.streamlit
profiles/*.pickle
dataBase/*.db

# What IFs

*.db
